{% set f = request.args.get('file') %}
<h3>Preview: {{ f }}</h3>
    {% set ext = f.split('.')[-1].lower() %}
    {% set parent_path = f.rsplit('/', 1)[0] if '/' in f else '' %}

    {% if ext in ["mp4", "webm"] %}
        <video controls width="600" src="/api_fetchfile/{{ f  }}"></video>

    {% elif ext in ["mp3", "wav", "m4a"] %}
        <audio controls src="/api_fetchfile/{{ f  }}"></audio>

    {% elif ext in ["png", "jpg", "jpeg", "gif"] %}
        <img src="/api_fetchfile/{{ f  }}" style="max-width:250px;">

    {% else %}
        <pre>
{% set lines = f | file_read_lines %}
{% for line in lines[:100] %}
{{ line | e }}
{% endfor %}
{% if lines|length > 100 %}
... (truncated)
{% endif %}
        </pre>
    {% endif %}<BR>
    <a download href="/api_fetchfile/{{ f  }}">Download</a>
    <a href="javascript:void(0)" onclick="if(confirm('Delete file?')) { window.location.href = '/modules/Files/deleteapi?file={{ f }}' }">Delete</a>
    <a href="javascript:void(0)" onclick="ChangeContentMain('Files','/index?file={{ parent_path }}')">Back</a>

