
<form action="/modules/Manager/createapi">
    <input type="text" name="app_name" class="input-box i-w-100" placeholder="AppName"><br><br><br>
    <input type="text" name="app_path" class="input-box i-w-100" placeholder="AppPath"><br><br><br>
    <input type="text" name="app_stopname" class="input-box i-w-100" placeholder="StopAppName"><br><br><br>
    <input type="text" name="app_port" class="input-box i-w-100" placeholder="AppPort" ><br><br><br><br>
    <a class="btn-a"><input type="submit" class="unset-all"></a><br>
</form>