
<h2>Appx Manager<div class="fl-r"><a href="#" onclick="ChangeContentMain('Manager','','/create')">Create</a> <a href="#" onclick="ChangeContentMain('Manager','','/delete')">Delete</a></div></h2>
{% set result0 = os.listdir('./gl_term/templates/modules/Manager/Confs/') %}
{% for a in result0 %}
{% set result1 = open('./gl_term/templates/modules/Manager/Confs/' + a).read() %}
{% set asd = result1.split('\n') %}
<b>{{ asd[0] }}</b>     <a href="#" onclick="fetch('/modules/Terminal/index?cmd=start /MIN {{ asd[1] }}')">Start</a> <a href="#" onclick="fetch('/modules/Terminal/index?cmd=taskkill /f /im {{ asd[2] }}')">Stop</a> <a target="__blank" href="http://192.168.1.5:{{ asd[3] }}">Open</a><br>
{% endfor %}
