<form action="/apisettings/chapi">
    <input type="password" class="input-box i-w-100" name="prevpass" placeholder="Previous Password">
    <input type="password" class="input-box i-w-100" name="newpass" placeholder="New Password">
    <input type="password" class="input-box i-w-100" name="newpassagain" placeholder="New Password Again">
    <input type="submit" class="btn-a">
</form>
<h2>Change Password</h2>
<br>
<b>Settings</b>
<div style="color: #fff !important;background: #d8d8d8">
    <a href="#" onclick="ChangeContentMain('Manager','/create')">CreateApp</a>
<a href="#" onclick="ChangeContentMain('Manager','/delete')">DeleteApp</a>
</div>