
<div id="toast-container"></div>
<link rel="stylesheet" href="/static/index.css">
<meta name="viewport" content="width=device-width">
<title>Control</title>
<h2>Login To Server {{ hostname }}</h2>
<form action="#" method="POST">
    <input type="password" class="input-box i-w-100" name="key" placeholder="Password"><br><br>
    <a class="btn-a"><input type="submit" class="unset-all"></a><br>
</form>


<script>win_mode = "LoginScreen"</script>
<script src="/static/script.pg.content.filter.js"></script>
{% if error %}
<Script>showToast('{{ error }}')</Script>
{% endif %}