<style>html{background: url('/static/wallpapers/{{ session.get('wallpaper') }}') no-repeat fixed center ;}</style>
<div id="toast-container"></div>
<link rel="stylesheet" href="/static/index.css">
<title>Control</title>
<meta name="viewport" content="width=device-width">
<div class="app"></div>
<script>win_mode = "WinMode.SettingsPage"</script>
<script src="/static/script.pg.content.filter.js"></script>
{% for flash in get_flashed_messages() %}
<Script>showToast('{{ flash }}')</Script>
{% endfor %}